/*
    Referenced from: https://codepen.io/IamManchanda/pen/zoaWdW and https://davidwalsh.name/css-flip
 */

.card-flip {
    -webkit-perspective: 1000px;
            perspective: 1000px;
    padding: 1em;
    height: 396px;
  }
  .card-flip:hover .flip, .card-flip.hover .flip {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .card-flip,
  .front,
  .back {
    width: 100%;
  }
  
  .flip {
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
  }
  
  .front,
  .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  
  .back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  