/*
    32292f
    c9d7f8
    575366
    69306d
    0e103d
 */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: auto;
}
.card:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}
.list-group-item {
    color: black;
}