.repinfo{
   /* visibility: hidden;/

    */
    margin-left: 1%;
}
.selector{
    /* visibility: hidden; */
}
.selected {
    visibility: visible;
    vertical-align: top;

}

.hide{
    visibility: hidden;
}

.result{


}