.bg-color {
    background: #e6e7e8;
    font-size: 13px;
    margin: 0;
}

.mobile-wrapper { /* Standard iPhone view */
    /*width: 375px;*/
    min-height: 600px;
    height: auto;
    margin: 0 auto;
    padding: 0 15px;
    border: 1px solid #adadad;
    overflow-x: hidden;
    /*box-shadow: 0 0 5px #b7b5b5;*/
}

.search-bar {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 8px 5px;
    background: #f8f8f8;
    box-shadow: 0 0 3px #e0e0e0;
}

    .search-bar .search-options {
        width: 85%;
        float: left;
        margin-right: 5%;
    }

        .search-bar .search-options .awesomplete {
            width: 92%;
            float: left;
        }

        .search-bar .search-options .text-box {
            width: 100%;
            float: left;
            text-align: center;
            background: #e6e7e8;
            border-radius: 5px;
            height: 27px;
            border: none;
        }

        .search-bar .search-options .btn-search {
            width: 8%;
        }

        .search-bar .search-options .btn-search,
        .search-bar .refresh-page .btn-refresh {
            height: 27px;
            background: none;
            padding: 0 5px;
        }

            .search-bar .search-options .btn-search .glyphicon-search {
                color: #445761;
                font-size: 20px;
            }

            .search-bar .refresh-page .btn-refresh .glyphicon-refresh {
                color: #005c8f;
                font-size: 20px;
            }

    .search-bar .refresh-page {
        float: left;
        width: 10%;
        text-align: right;
        margin: -2px 0 0 0;
    }

.user-info {
    padding: 5px;
}

    .user-info .user-photo {
        border: 1px solid #ccc;
        width: 35%;
        float: left;
    }

        .user-info .user-photo img {
            width: 100px;
            height: 100%;
            border-radius: 0;
        }

    .user-info .user-details {
        width: 62%;
        float: left;
        margin-left: 3%;
    }

        .user-info .user-details .wrapper {
            padding: 0 0 0 10px;
        }

        .user-info .user-details .user-name {
            text-transform: uppercase;
            font-weight: bold;
            color: #445761;
        }

        .user-info .user-details .ac9 {
            font-weight: bold;
            margin-right: 20px;
            color: #445761;
        }

        .user-info .user-details .years {
            color: #004a64;
        }

        .user-info .user-details .info-focus {
            background: #445761;
            padding: 5px 6px;
            color: #fff;
            text-align: center;
            margin-right: 5px;
            font-size: 11px;
            border-radius: 5px;
        }

        .user-info .user-details .osj-info {
            margin-top: 15px;
        }

            .user-info .user-details .osj-info .title {
                font-weight: bold;
                color: #445761;
            }

        .user-info .user-details .custom-margin {
            margin-bottom: 5px;
        }

/* CSS rules for user info */
.additional-info {
    padding: 5px;
    text-align: center;
}

    .additional-info .selector {
        width: 100%;
        padding: 0 15%;
    }

    .additional-info .selector-res {
        margin: 10px 0;
        height: 320px;
        text-align: center;
    }

    .additional-info .selector-res-1 {
        height: auto;
    }

/* Carousal Styles */
.carousel-control {
    background: none !important;
    width: 5% !important;
}

    .carousel-control .glyphicon {
        color: #a0a0a0 !important;
    }

.carousel-inner {
    margin: 0 25px;
    width: 86%;
    text-align: center;
}

    .carousel-inner .item {
        width: 100%;
    }

    .carousel-inner img {
        border: 1px solid #ccc;
        box-shadow: 0 0 5px #b3b3b3;
        width: 303px;
        height: 290px !important;
        margin: 0 auto;
    }

.carousel-indicators {
    bottom: -40px !important;
}

    .carousel-indicators li {
        background: #fff !important;
        border: none !important;
        margin: 0 10px;
    }

    .carousel-indicators .active {
        background: #005c8f !important;
        margin: 0 10px;
    }

.additional-info .selector .dropdown {
    /*margin-left: 30px;*/
    width: 100%;
}

    .additional-info .selector .dropdown .glyphicon {
        font-size: 10px;
        padding-top: 18px;
    }

.additional-info .selector .selector-icon {
    width: 13%;
    height: 50px;
    background: #20b1e7;
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border-radius: 4px;
    margin-right: 3px;
}

.additional-info .selector .selector-dropdown {
    background: #20b1e7 !important;
    color: #fff !important;
    height: 50px;
    width: 84%;
    border: none;
    font-size: 14px;
}

    .additional-info .selector .selector-dropdown:hover {
        background: #20b1e7;
        color: #fff;
        border: none;
    }

/* Drop Down Menu */
.dropdown-menu {
    background: none;
    border-radius: none;
    border: none;
    min-width: 100%;
}

    .dropdown-menu .arrow {
        padding-left: 50px;
        height: 15px;
        margin-top: -13px;
    }

        .dropdown-menu .arrow .glyphicon {
            font-size: 20px !important;
            color: #005c8f;
            padding: 0 !important;
        }

    .dropdown-menu ul {
        padding: 5px 15px;
        background: #005c8f;
        width: 100%;
        list-style: none;
        border-radius: 5px;
    }

        .dropdown-menu ul li {
            margin: 14px 0;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }

            .dropdown-menu ul li:hover {
                color: #51adef;
            }

            .dropdown-menu ul li a {
                text-decoration: none;
                color: #fff;
            }

.additional-info .selector-res-2 {
    background: #fff;
    padding: 30px;
    margin: 20px -5px;
}

    .additional-info .selector-res-2 .business-address {
        padding: 20px;
        background: #e6e7e8;
        box-shadow: 0 0 5px #a2a2a2;
        margin: 0 auto;
        font-size: 18px;
        color: #445761;
        text-align: left;
    }

.additional-info .selector-res-3 {
    margin: 20px -5px 20px -5px;
    font-size: 14px;
}

    .additional-info .selector-res-3 .branch-info {
        list-style: none;
        padding: 0;
        margin: 0;
        box-shadow: 0 0 5px #a2a2a2;
        color: #445761;
    }

    .additional-info .selector-res-3 .branch-info .content-title {
        font-weight: bold;
    }

    .additional-info .selector-res-3 .branch-info li {
        padding: 5px 20px;
    }

    .additional-info .selector-res-3 .branch-info li:nth-child(odd) {
        background: #e6e7e8;
    }

    .additional-info .selector-res-3 .branch-info li:nth-child(even) {
        background: #fff;
    }

.additional-info .selector-res-4 {
    margin: 20px -5px 20px -5px;
    font-size: 14px;
}

    .additional-info .selector-res-4 .supervision {
        list-style: none;
        padding: 0;
        margin: 0;
        box-shadow: 0 0 5px #a2a2a2;
        color: #445761;
    }

        .additional-info .selector-res-4 .supervision .content-title {
            font-weight: bold;
        }

        .additional-info .selector-res-4 .supervision li {
            padding: 5px 20px;
        }

            .additional-info .selector-res-4 .supervision li:nth-child(odd) {
                background: #e6e7e8;
            }

            .additional-info .selector-res-4 .supervision li:nth-child(even) {
                background: #fff;
            }

.additional-info .selector-res-5 {
    margin: 20px -5px 20px -5px;
    font-size: 14px;
}

    .additional-info .selector-res-5 .clearing-partner {
        padding: 10px;
        font-size: 16px;
        background: #fff;
    }

        .additional-info .selector-res-5 .clearing-partner .grid {
            width: 100%;
        }

        .additional-info .selector-res-5 .clearing-partner .left,
        .additional-info .selector-res-5 .clearing-partner .right {
            width: 100%;
        }

        .additional-info .selector-res-5 .clearing-partner .grid th {
            color: #445761;
            padding: 10px;
        }

        .additional-info .selector-res-5 .clearing-partner .grid td {
            padding: 10px;
        }

            .additional-info .selector-res-5 .clearing-partner .grid td .mark {
                margin-right: 10px;
            }
/* Remove default border */
*:focus {
    outline: none;
}
/* Active Rep Production */
.additional-info .selector-res-6 {
    margin: 20px -5px 20px -5px;
    font-size: 14px;
}

    .additional-info .selector-res-6 .activeRepProd {
        list-style: none;
        padding: 0;
        margin: 0;
        box-shadow: 0 0 5px #a2a2a2;
        height: 300px;
        overflow-x: hidden;
        overflow-y: scroll;
        color: #445761;
    }

        .additional-info .selector-res-6 .activeRepProd .content-title {
            font-weight: bold;
        }

        .additional-info .selector-res-6 .activeRepProd li {
            padding: 5px 20px;
        }

            .additional-info .selector-res-6 .activeRepProd li:nth-child(odd) {
                background: #e6e7e8;
            }

            .additional-info .selector-res-6 .activeRepProd li:nth-child(even) {
                background: #fff;
            }

.additional-info .selector-res-7 {
    margin: 20px -5px 20px -5px;
    font-size: 14px;
}

    .additional-info .selector-res-7 .business-information {
        list-style: none;
        padding: 0;
        margin: 0;
        box-shadow: 0 0 5px #a2a2a2;
        height: 300px;
        overflow-x: hidden;
        overflow-y: scroll;
        color: #445761;
    }

        .additional-info .selector-res-7 .business-information .content-title {
            font-weight: bold;
        }

        .additional-info .selector-res-7 .business-information li {
            padding: 5px 20px;
        }

            .additional-info .selector-res-7 .business-information li:nth-child(odd) {
                background: #e6e7e8;
            }

            .additional-info .selector-res-7 .business-information li:nth-child(even) {
                background: #fff;
            }

.additional-info .selector-res-8 {
    padding: 20px;
}

    .additional-info .selector-res-8 .concession-breakdown2 {
        padding: 20px;
        border: 1px solid #ccc;
        background: #fff;
    }

/* dropdown script */
.selector-res-2,
.selector-res-3,
.selector-res-4,
.selector-res-5,
/*.selector-res-6,*/
.selector-res-7,
.selector-res-8,
.selector-res-9 {
    display: none;
    text-align: left;
}

.selector-res-9{
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 5px #a2a2a2;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #445761;
}


/* CSS rules for autocomplete */
#awesomplete_list_1 {
    top: 34px;
    padding: 5px;
}

    #awesomplete_list_1 li {
        margin: 5px 0;
        padding: 5px;
    }

/* CSS rules for Cambridge Logo */
.cambridge-logo {
    text-align: center;
    padding: 10px 0 15px 0;
    background: #fff;
}

    .cambridge-logo img {
        width: 200px;
    }

textarea.CIR_Rep_Notes_CSS {
    width: 100%;
    border: solid;
    border: 1px;
}

div.CIR_Rep_Notes_Div_CSS {
    visibility: hidden;
}





