
body {
padding-top: 2rem;
padding-bottom: 2rem;
}
  
h3 {
    margin-top: 2rem;
}
h4 {
    margin-top: 2rem;
    display: table;
    margin: 0 auto;
}
  
.row {
    overflow: hidden;
    height: auto;
    margin-bottom: 1rem;
}
.row .row {
    margin-top: 1rem;
    margin-bottom: 0;
}
[class*="col"] {
    border: 1px solid rgba(86, 61, 124, .2);
    border-color rgb(0,0,0);
}
.card{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(255, 255, 255);
    border: none;   
}
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.div {
    background-color: rgba(86, 61, 124, .15);
}

.col-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}