﻿body {
    font-family: "Avenir";
    color: #445660;
    background-color: rgba(0,74,104, 0.5);
    padding: 16px;
}

h1 span {
    font-family: "Avenir";
    font-size: 13px;
    color: #005C8F;
}

h1 {
    font-family: "Avenir";
    color: #005C8F;
}

.AdvisorCard {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

.wrapper {
    max-width: 800px;
    margin: 50px auto;
}

h2 {
    font-family: "Avenir";
    font-size: 12px;
    font-weight: 200;
    margin: 0 0 50px;
    color: #005C8F;
}

a {
    margin-top: 5px;
    display: block;
    color: #3e95cd;
}

.col-md-2, .col-md-5 {
    display: inline-flex;
    align-items: center;
}

.col-md-1 {
    float: center;
    display: inline-flex;
    align-items: center;
}

col {
    padding: 0px;
}

span {
    display: inline-block;
    margin: 3px;
}

span.HeaderSpanGrouping {
    margin: 0 auto;
    display: inline-block;
}

h3.AddressHeader {
    font-size: 16px;
    font-weight: bold;
}

button, .exitButton {
    font: Avenir;
    font-size: 13px;
    background-color: lightgray;
}

    .myButton:hover, .exitButton:hover {
        opacity: 1;
        filter: alpha(opacity=100);
        background-color: #788083;
    }

.exitButton {
    margin: 0 auto;
}

.card-header, .card-footer {
    background-color: #ebebeb;
    padding: 15px;
}

.cardBody {
    background-color: white;
}

.card {
    border-color: none;
}

.ClearingPartnerInputBox {
    pointer-events: none;
}

h4 {
    margin: 0px;
}

/*Table Styling for extra details.*/
.accordion {
    background-color: #ebebeb;
    color: #445660;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .accordion:hover {
        background-color: #b4b4b4;
    }

.active {
    background-color: #ebebeb;
}

.accordion:after {
    content: '\002B';
    color: #445660;
    font-weight: bold;
    font-size: 1.5rem;
    float: right;
    margin: 0 auto;
}

.active:after {
    content: '\2212';
}

.tableFurtherInformationHeader {
    font-size: 1.5rem;
    margin: 0 auto;
}

Table.DetailTable {
    width: 100%;
    table-layout: fixed;
    vertical-align: top;
    padding: 15px;
}

td.tableNormalTD, td.tableNormalTDHeader {
    font-size: 16px;
    margin: 0 auto;
}

td.tableNormalTDHeader {
    cursor: pointer;
}

    td.tableNormalTDHeader:hover {
        background-color: #b4b4b4;
    }

.tableParent {
    width: 100%;
}

    .tableParent tr td {
        padding: 5px 30px;
    }

        .tableParent tr td.specLine {
            font-size: 1px;
            width: 1px;
            padding: 0;
            border: none;
            background: #b4b4b4;
        }

.DetailTable {
    width: 100%;
}

td.tableNormalTD.successModifier {
    background-color: #28a7465b;
}

.searchResults {
    margin-top: 8px;
    margin-left: 16px;
    border: solid;
    border-color: black;
}

.col-md-3, .col-xs-2 {
    text-align: left;
}
@media (max-width: 724px) {
    html {
        font-size: 11px;
    }

    div.AdvisorName {
        text-align: center;
    }

    span.HeaderSpanGroup, span.InputGrouping {
        font-size: 10px;
    }

    span.InputGrouping {
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    div.pageHeading {
        text-align: center;
    }

    div.AdvisorTable {
        margin-left: 8px;
    }

}

@media (min-width: 725px) {
    h1 {
        text-align: left;
    }

    div.pageHeading {
        margin-left: 16px;
    }

    span.InputGrouping {
        text-align: left;
    }

    div.AdvisorTable {
        margin-left: 16px;
    }

}

div.AdvisorName {
    padding: none;
}

div.--10.col-md-3.col-lg-3 {
    margin: auto;
}

div.HeaderDivGrouping {
    text-align: center;
}

div.SearchPagination {
    border: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}
ul.pagination {
    margin-bottom: 0px;
}
.alert {
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    text-align: center;
}