* {box-sizing: border-box;}

@media screen and (max-width: 2560px) {
    .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    }
}
@media screen and (max-width: 1024px) {
    .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    }
}
@media screen and (max-width: 800px) {
    .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    }
}
@media screen and (max-width: 550px) {
    .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    }
}